<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whats up</title>
  </head>

  <body>

    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, quaerat tenetur? Alias, non temporibus cum
      aliquam commodi nisi voluptates quasi doloremque sequi aspernatur. Nobis harum laudantium, in impedit tempore
      blanditiis sunt amet id est facere sit sapiente porro sed atque fuga temporibus magnam quisquam repellat
      exercitationem architecto veniam aut quo!</h1>

  </body>

</html>